body {
    background-color: #d2b48c; /* Tan/Beige */
    /* If you find a tiled background image later, you'll put the URL here */
    background-image: url('https://www.transparenttextures.com/patterns/sandpaper.png');
    font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
    color: #2e2b23;
    padding-top: 50px;
}

.main-table {
    background-color: #fcf5e5; 
    border: 3px outset #8b7355; 
}

.header {
    background-color: #505C87;
    color: #ffffff;
    text-align: center;
    border-bottom: 2px solid #8b7355;
    padding: 15px;
}

.header h1 { margin: 0; font-family: "Times New Roman", serif; }

.sidebar {
    width: 200px;
    vertical-align: top;
    padding: 15px;
    border-right: 1px dashed #8b7355;
    font-size: 0.85em;
}

.content {
    padding: 20px;
    vertical-align: top;
    background-color: #eeeeee; 
}

.blog-entry { margin-bottom: 30px; }

.entry-title {
    color: #7a0000;
    margin-bottom: 0px;
    font-size: 1.4em;
}

.entry-date {
    font-size: 0.7em;
    color: #666;
    margin-top: 0;
}

.entry-image {
    border: 1px solid #000;
    margin: 10px 0;
}

.counter-box {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
}

.hit-counter {
    background-color: #000; 
    color: #00ff00;      
    font-family: "Courier New", monospace;
    font-weight: bold;
    padding: 2px 5px;
    border: 2px inset #666; /
    letter-spacing: 2px;
}

a { color: #0000ee; }
a:visited { color: #551a8b; }

.ascii-frame {
    width: 100%;
    height: 425px;
    background-color: #ffffff; 
    border: 1px inset #000000; 
    
    font-family: "Courier New", Courier, monospace;
    white-space: pre; 
    overflow: auto;          
}